FORMAT: 1A
HOST: https://youthweb.net

# Youthweb API

Dies ist die offizielle API von [youthweb.net](https://youthweb.net).

Aktuelle Version: 0.2.1 (2015-06-22)

Status: Alpha

Github Repository: https://github.com/youthweb/youthweb-api

## Authentication

Keine. Diese Version ist read-only.

# Group Stats

## Account Stats [/stats/account]

### Retrieve the account stats [GET]
+ Response 200 (application/json)

    + Attributes

        + user_total (number) - Die Anzahl aller User
        + user_total_female (number) - Die Anzahl der weiblichen User
        + user_total_male (number) - Die Anzahl der männlichen User
        + user_online (number) - Die Anzahl der User, die im Moment online sind
        + user_online_24h (number) - Die Anzahl der User, die in den letzten 24 Stunden online waren
        + user_online_7d (number) - Die Anzahl der User, die in den letzten 7 Tagen online waren
        + user_online_30d (number) - Die Anzahl der User, die in den letzten 30 Tagen online waren
        + userpics (number) - Die Anzahl der User, die ein Profilbild hochgeladen haben

    + Body

            {"data":{"type":"stats","id":"account","attributes":{"user_total":5503,"user_total_female":2831, "user_total_male":2672,"user_online":74,"user_online_24h":629,"user_online_7d":1035,"user_online_30d":1600,"userpics":3441}}}

## Forum Stats [/stats/forum]

### Retrieve the forum stats [GET]
+ Response 200 (application/json)

    + Attributes

        + authors_total (number) - Die Anzahl aller User, die mindestens einen Forenpost verfasst haben
        + threads_total (number) - Die Anzahl aller Threads
        + posts_total (number) - Die Anzahl aller verfasster Posts

    + Body

            {"data":{"type":"stats","id":"forum","attributes":{"authors_total":1480,"threads_total":2094,"posts_total":121387}}}

## Groups Stats [/stats/groups]

### Retrieve the groups stats [GET]
+ Response 200 (application/json)

    + Attributes

        + groups_total (number) - Die Anzahl der Gruppen auf Youthweb
        + users_total (number) - Die Anzahl der User, die einer Gruppe angehören

    + Body

            {"data":{"type":"stats","id":"groups","attributes":{"groups_total":614,"users_total":2073}}}
