FORMAT: 1A
HOST: https://youthweb.net

# Youthweb API

Dies ist die offizielle API von [youthweb.net](https://youthweb.net).

Aktuelle Version: 0.3 (2015-10-11)

Status: Alpha

Github Repository: https://github.com/youthweb/youthweb-api

## Request Header

Diese Header müssen bei jedem Request angegeben werden:

```
Content-Type: application/vnd.api+json
Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3
```

## Authentication

Keine. Diese Version ist read-only.

# Group Stats

## Account Stats [/stats/account]

### Retrieve the account stats [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3

+ Response 200 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3

    + Attributes

        + data (object)
            + type: `stats` (string)
            + id: `account` (string)
            + attributes (object)
                + user_total: 5503 (number) - Die Anzahl aller User
                + user_total_female: 2831 (number) - Die Anzahl der weiblichen User
                + user_total_male: 2672 (number) - Die Anzahl der männlichen User
                + user_online: 74 (number) - Die Anzahl der User, die im Moment online sind
                + user_online_24h: 629 (number) - Die Anzahl der User, die in den letzten 24 Stunden online waren
                + user_online_7d: 1035 (number) - Die Anzahl der User, die in den letzten 7 Tagen online waren
                + user_online_30d: 1600 (number) - Die Anzahl der User, die in den letzten 30 Tagen online waren
                + userpics: 3441 (number) - Die Anzahl der User, die ein Profilbild hochgeladen haben

## Forum Stats [/stats/forum]

### Retrieve the forum stats [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3

+ Response 200 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3

    + Attributes

        + data (object)
            + type: `stats` (string)
            + id: `forum` (string)
            + attributes (object)
                + authors_total: 1480 (number) - Die Anzahl aller User, die mindestens einen Forenpost verfasst haben
                + threads_total: 2094 (number) - Die Anzahl aller Threads
                + posts_total: 121387 (number) - Die Anzahl aller verfasster Posts

## Groups Stats [/stats/groups]

### Retrieve the groups stats [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3

+ Response 200 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3

    + Attributes

        + data (object)
            + type: `stats` (string)
            + id: `groups` (string)
            + attributes (object)
                + groups_total: 614 (number) - Die Anzahl der Gruppen auf Youthweb
                + users_total: 2073 (number) - Die Anzahl der User, die einer Gruppe angehören

# Group Auth

## Token Auth [/auth/token]

### Retrieve a token [POST]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3

    + Attributes

        + meta (object)
            + username: `JohnSmith` (string)
            + `token_secret`: `valid_secret` (string)

+ Response 200 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3

    + Attributes

        + meta (object)
            + token: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE0NTgyMzE2MDAsImlzcyI6IkpOdlBnY3ROcEg1Y0s2UmMifQ.BOn0XFDDYa5iBHJb636A0C0m4sU5NO8SA_CPOVHoWNs` (string)
            + `token_type`: `Bearer` (string)
