FORMAT: 1A
HOST: https://api.youthweb.net

# Youthweb API - Errors

Hier werden Fehler und Fehlermeldungen der API getestet.

# Group General

## Index [/]

### Request no resource [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

+ Response 404 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"errors":[{"status":"404","title":"Resource not found"}]}

# Group Stats

## Account Stats [/stats/account]

### Retrieve the account stats without content-type header [GET]
+ Request

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

+ Response 415 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"errors":[{"status":"415","title":"Unsupported Media Type","detail":"You're using an unsupported Content-Type. You have to use the Content-Type application/vnd.api+json"}]}

### Retrieve the account stats with content-type header and parameter [GET]
+ Request (application/vnd.api+json; parameter=value)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

+ Response 415 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"errors":[{"status":"415","title":"Unsupported Media Type","detail":"You're using an unsupported Content-Type. You have to use the Content-Type application/vnd.api+json"}]}

### Retrieve the account stats with accept header without version parameter [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json

+ Response 406 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"errors":[{"status":"406","title":"Not Acceptable","detail":"You havn't specified the API version in the Accept Header. You have to use Accept application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8"}]}

### Retrieve the account stats without accept header [GET]
+ Request (application/vnd.api+json)

+ Response 406 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"errors":[{"status":"406","title":"Not Acceptable","detail":"You havn't specified the API version in the Accept Header. You have to use Accept application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8"}]}

## Forum Stats [/stats/forum]

### Retrieve the forum stats with a deprecated version parameter [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.4

+ Response 200 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"data":null,"meta":{"warnings":["You have specified a deprecated API version. Please use the current API version 0.8"]}}

## Group Stats [/stats/group]

### Retrieve the group stats with a unsupported version parameter [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.3

+ Response 406 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"errors":[{"status":"406","title":"Not Acceptable","detail":"You have specified an unsupported API version. Please use the current API version 0.8"}]}

# Group Users

## Me [/me]

### Request the /me resource without Bearer token [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

+ Response 401 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"errors":[{"status":"401","title":"Unauthorized"}]}

# Group Posts

## Forbidden Posts [/posts/f5a5a2c3-041b-4985-907c-74a2131efc98]

### Request a forbidden post [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

+ Response 403 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"errors":[{"status":"403","title":"Forbidden"}]}

## Not existing Posts [/posts/45a5a2c3-041b-4985-907c-74a2131efc98]

### Request a not existing post [GET]
+ Request (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

+ Response 404 (application/vnd.api+json)

    + Headers

            Accept: application/vnd.api+json, application/vnd.api+json; net.youthweb.api.version=0.8

    + Body

            {"errors":[{"status":"404","title":"Resource not found"}]}
